{% extends 'layout.html' %} {% block main %}
<div class="main-content">
	<h1>Добро пожаловать на [Название сайта]!</h1>
	<p>
		<strong>[Название сайта]</strong> – это уникальная платформа, созданная для
		тех, кто только что завершил обучение в программировании и хочет получить
		опыт работы в команде, а также для опытных специалистов, стремящихся
		развивать навыки руководства проектами.
	</p>
	<h2>Наши особенности:</h2>
	<ul>
		<li>
			<strong>Командная работа:</strong> Объединяйтесь в команды от 1 до ?
			человек и работайте над реальными проектами.
		</li>
		<li>
			<strong>Разнообразие заданий:</strong> Выбирайте задания различной
			сложности, соответствующие вашему уровню навыков.
		</li>
		<li>
			<strong>Развитие лидерских качеств:</strong> Опытные программисты могут
			попробовать себя в роли руководителя проекта, улучшая свои управленческие
			способности.
		</li>
		<li>
			<strong>Простота регистрации:</strong> Зарегистрируйтесь, отметьте свои
			навыки и приступайте к выбору задания.
		</li>
		<li>
			<strong>Интеграция с Telegram:</strong> После выбора задания переходите в
			Telegram-чат для общения с командой, распределения задач и эффективной
			совместной работы.
		</li>
	</ul>
	<p>
		Начните свой путь к успеху с <strong>[Название сайта]</strong>!
		Присоединяйтесь к нам, развивайте свои профессиональные навыки и
		приобретайте бесценный опыт работы в команде. Зарегистрируйтесь прямо сейчас
		и начните свою первую командную работу уже сегодня!
	</p>
</div>
{% endblock %}
