{% extends 'layout.html' %} {% block main %}
<div class="profile-section">
	<div class="user-info">
		<img
			class="user-avatar"
			src="{{ user.profile.img.url }}"
			alt="User Image"
		/>
		<div class="user-details">
			<h2>{{ user.username }}</h2>
			<p><strong>Email:</strong> {{ user.email }}</p>
		</div>
	</div>

	<h3 class="section-title">Изменить данные пользователя</h3>

	<form method="POST" enctype="multipart/form-data" class="user-form">
		{% csrf_token %}
		<div class="form-group">{{ update_user }}</div>
		<div class="form-group">{{ img_profile }}</div>
		<button type="submit" class="btn-auth">Обновить данные</button>
	</form>
</div>

<a href="{% url 'allUsers' %}">Другие пользователи</a>
{% endblock %}
