{% extends 'layout.html' %} {% block main %}
<div class="form-section">
	<h2>Регистрация на сайте</h2>
	<form method="POST">
		{% csrf_token %} {% if form.non_field_errors %}
		<ul class="error-list">
			{% for error in form.non_field_errors %}
			<li class="erorr"><strong>Ошибка:</strong> {{ error }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<div class="form-group">
			{{ form.as_p }}
			<ul class="error-list">
				{% for field in form %} {% if field.errors %}
				<li class="erorr">
					<strong>Ошибка в поле {{ field.label }}:</strong>
					<ul>
						{% for error in field.errors %}
						<li class="erorr">{{ error }}</li>
						{% endfor %}
					</ul>
				</li>
				{% endif %} {% endfor %}
			</ul>
		</div>
		<button type="submit" class="btn-auth">Зарегистрироваться</button>
	</form>
	<hr />
	<p>
		Уже зарегистрированы? <a href="{% url 'user' %}">Войти в личный кабинет</a>
	</p>
</div>
{% endblock %}
