{% extends 'layout.html' %} {% block main %}

<div class="form-section">
	<h2>Авторизация на сайте</h2>
	<form method="POST">
		{% csrf_token %}
		<div class="form-group">
			<label for="{{ form.username.id_for_label }}">Имя пользователя:</label>
			{{ form.username }}
		</div>
		<div class="form-group">
			<label for="{{ form.password.id_for_label }}">Пароль:</label>
			{{ form.password }}
		</div>
		<button type="submit" class="btn-auth">Войти</button>
	</form>
	<hr />
	<p>Забыли пароль? <a href="{% url 'pass-reset' %}">Получите новый</a></p>
</div>
{% endblock main %}
